.Stage, .Menu, .ItemImageInline, .HandStats, .ZennyTotal, .Card, .Hand, .Poker, .Background, .Slider, .SecondPanel, .MainInfo, .Character, .HO, .UHO, .Stage {
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
																																																						                                  supported by Chrome, Opera and Firefox */
}

.Stage {
	border: 12px solid royalblue;
	background: white;
	color: black;
	width: 800px;
	height: 600px;
	position: fixed;
	border-radius: 10px;
	z-index: 1000;
}

.ShowNumberOfItems {
	position: absolute;
	z-index: 1005;
	width: 40px;
	height: 30px;
	font-size: 11px;
	background: white;
	color: black;
	border-radius: 10px;
	border: 3px solid black;
	line-height: 30px;
	text-align: center;
	display: none;
}

.GainedItem {
	position: absolute;
	width: 75px;
	height: 75px;
	z-index: 1005;
}

.Fish {
	position: absolute;
}

.Small {
}

.FishItem {
	color: white;
}

.FishImg {
	width: 25px;
	height: 25px;
	margin-left: 25px;
}

.Fishing {
	width: 400px;
	height: 600px;
	background: black;
	z-index: 1001;
	position: fixed;
}

.Water, .WaterHolder {
	width: 400px;
	height: 250px;
}

.Target {
	position: fixed;
	z-index: 1002;
}

.Menu {
	font-size: 20px;
	width: 400px;
}

.ItemImageInline {
	float: left;
	width: 20px;
	height: 20px;
	position: relative;
}

.HandStats {
	float: left;
	width: 95px;
	margin: 2px;
	height: 20px;
	border-radius: 4px;
	color: white;
	float: left;
	text-align: center;
}

.ZennyTotal {
	width: 300px;
	height: 60px;
	font-size: 18px;
	text-align: center;
	background: red;
	color: black;
	position: absolute;
	top: 340px;
	line-height: 60px;
}

.Card {
	width: 40px;
	height: 70px;
	margin: 1px;
}

.Hand {
	float: left;
	border: 5px solid white;
	width: 85px;
	margin: 2px;
	height: 76px;
	border-radius: 4px;
}

.NewItemImg {
	height: 28px;
	margin: 2px;
	margin-top: -21px;
	text-align: center;
	border: 2px solid royalblue;
	background: white;
	color: black;
	line-height: 30px;
	color: black;
	border-radius: 15px;
}

.Poker {
	position: absolute;
	z-index: 1001;
	width: 300px;
	height: 400px;
	background: black;
}

body {
	position: fixed;
}

.Background {
	position: fixed;
	top: -10px;
	left: -10px;
}

.Slider {
	width: 150px;
	height: 75px;
	position: absolute;
	background: black;
	border-radius: 20px;
	border: 10px solid red;
	left: 225px;
	top: 162px;
	z-index: 3;
}

#rangeInput {
	width: 140px;
	margin: 2px;
}

#SellOrBuy {
	width: 140px;
	margin: 2px;
	text-align: center;
	color: red;
}

.SecondPanel {
	position: absolute;
	font-size: 20px;
	left: 400px;
	width: 400px;
	height: 600px;
	background: cornflowerblue;
	color: black;
	z-index: 1;
}

.MainInfo {
	font-size: 20px;
	width: 400px;
	height: 250px;
}

.Character {
	width: 300px;
}

.HO {
	background: black;
	color: red;
}

.UHO {
	background: white;
	color: black;
}

a {
	color: white;
	cursor: pointer;
}

a:link {
	color: white;
}

/* visited link */
a:visited {
	color: purple;
}

/* mouse over link */
a:hover {
	color: white;
}

/* selected link */
a:active {
	color: purple;
}
